@import "@App/styles/colors.scss";
.Home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width:100%;
  color:black;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width:100%;
  position: relative;
}
.calendarWrapper{
  padding: 15px 15px;
}
.issuesChartWrapper{
  padding: 15px 15px;
}

.tipoftheday{
  padding: 5px 5px;
}