@import "@App/styles/colors.scss";
.Home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width:100%;
  color:black;
}
.cards{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  width:100%;
  ul{
    list-style-type: none;
    padding: 0;
  }
  span{
    color:$secondary;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
  }
  div{
    flex:1;
  }
}
.calendarWrapper{
  width: 20vw;
}
.issuesChartWrapper{
  width:24vw;
}