@import "@App/styles/colors.scss";

.loginCard{
  padding: 1rem 8rem 1rem 8rem;
  background-color: white;
  border-radius: 2%;
  box-shadow: 0px 0px 5px lightgray;
}

.title{
  text-align: center;
  padding-top: 1rem;
  font-size: 150%;
  line-height: 90%;
  font-style: italic;
}

.login{
  padding-top: 1rem;
  font-size:large;
  font-weight: bold;
  color: black;
}

.subhead{
  font-size:small;
  color: black;
  line-height: 1%;
}


.basicb{
  text-align: center;
  color: white;
  background-color: $secondary;
  border: none;
  border-radius: 3%;
}