.ProgressPage {
    &_body {
      display: flex;
      gap: 2rem;
      flex-wrap: wrap;
      grid-auto-rows: 1fr;
    }
  
    &_bodyCard {
      gap: 2rem;
      width: 350px;
      height: 190px;
    }

    &_bodyGraph {
      gap: 2rem;
      max-width: 55%;
      width: 350px;
      height: 300px;
    }
  
    &_bodyRight {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 2rem;
    }

    &bodyRow {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      gap: 2rem;
    }
  
    &_avatarWrapper {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
    }
  }
  .linksText{
    margin: 20px 50px;
    color: black
}