@import "@App/styles/colors.scss";

.thing{
    font-family: Montserrat;
    font-style: italic;
    font-weight: 250;
    font-size: 24px;
}

.videoBox{
    display: flex;
    justify-content: center;
    video {
        width: 50%;
        margin: 5px;
    }
}

.buttonBox{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}