@import "@App/styles/colors.scss";

.PastInterviewTable {
  width: 80%;
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  font-style: "Montserrat", sans-serif;
  border-spacing: 0 5px;
  border-collapse: separate;
  padding: 10px 20px;
  tbody tr:hover {
    background: rgba(130, 139, 141, 0.1);
    cursor: pointer;
  }
  tr:nth-last-of-type(even) {
    &:hover {
      background: rgba(130, 139, 141, 0.4);
      cursor: pointer;
    }
    background: rgba(130, 139, 141, 0.2);
    td {
      border-color: rgba(130, 139, 141, 0.2);
    }
  }
  td {
    padding: 20px;
  }
}
.TableHeader {
  border-bottom: 2px black solid;
  padding: 10px;
  text-align: left;
  th {
    div {
      display: flex;
      justify-content: space-between;
      margin: 0px 15px;
    }
  }
}
.TableLabel {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
.ProgressBar {
  background-color: $secondary-light !important;
  & span {
    background-color: $secondary !important;
  }
}
