.positiveSentiment{
    background-color: green;
    color: white;
}
.negativeSentiment{
    background-color:  rgb(211, 64, 64);
    color: white;
}
.neutralSentiment{
    background-color: rgb(198, 155, 44);
    color: white;
}
.positiveEmotion{
    background-color: green;
    color: white;
}
.negativeEmotion{
    background-color: rgb(211, 64, 64);
    color: white;
}
.neutralEmotion{
    background-color: rgb(198, 155, 44);
    color: white;
}