.phrasesList{
    ul{
        list-style-type: none;
        padding: 0;
        li:nth-child(odd){
            background: rgba(130, 139, 141, 0.2);
        }
    }

}
.phraseRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px;
    align-items: center;
}
.timestamps{
    display: flex;
    flex-direction: row;
}
.timestampButton{
    margin-right: 10px;
    outline: 2px black solid;
    padding:5px;
    border-radius: 10px;
    &:hover{
        background: rgba(130, 139, 141, 0.4);
        cursor: pointer;
    }
}
