.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.positiveSentiment{
    @extend .center;

    background-color: green;
    color: white;
}
.negativeSentiment{
    @extend .center;

    background-color:  rgb(211, 64, 64);
    color: white;
}
.neutralSentiment{
    @extend .center;

    background-color: rgb(198, 155, 44);
    color: white;
}
.positiveEmotion{
    @extend .center;

    background-color: green;
    color: white;
}
.negativeEmotion{
    @extend .center;

    background-color: rgb(211, 64, 64);
    color: white;
}
.neutralEmotion{
    @extend .center;

    background-color: rgb(198, 155, 44);
    color: white;
}
