@import "@App/styles/colors.scss";

.logo_text{
  font-family: Montserrat;
  font-style: italic;
  font-weight: 600;
  font-size: 30px;
  line-height: 24px;
  color: $secondary;
  text-align: center;

  text-shadow: -2px 2px 0px #FFF8F8;
}
.logout{
  background-color: #ffffff;
  border-radius: 11px;
  color:$primary;
  font-family: inherit;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  div{
    margin-left: 10px;
  }
}
.main {
  max-width:10%;
  min-width:300px;
  
}

.links{
  display: flex;
  flex-direction: column;
  
}

.linksText{
      margin: 20px 50px;
      color: white
}

.barcontainer{
  display: flex;
  padding: 30px 20px;
  justify-content: space-between;
  flex-direction: column;
  background-color: $primary;
  color: $light-text;
  font-weight: 700;
  position: fixed;
  top:0;
  height:100%;
  max-width:10%;
  min-width:300px;
  box-sizing: border-box; 
}
